signup

<%= form_for(@user, url: '/signup') do |f| %>

<div>
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div>
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div>
  <%= f.label :pronouns %>
  <%= f.text_field :pronouns %>
</div>

<%= f. submit%>

<% end %>